<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="      
          http://www.springframework.org/schema/beans      
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd      
          http://www.springframework.org/schema/tx      
          http://www.springframework.org/schema/tx/spring-tx-4.0.xsd     
          http://www.springframework.org/schema/context      
          http://www.springframework.org/schema/context/spring-context-4.0.xsd      
          http://www.springframework.org/schema/aop      
          http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
	default-autowire="byName">

	<!-- proxool配置方式二，该方式需要在web.xml配置proxool信息，同时proxool启动优先级要高于spring-->
	<bean id="mainDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.logicalcobwebs.proxool.ProxoolDriver" />
		<property name="url" value="proxool.db" />
	</bean>
	<bean id="namedParameterJdbc"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="mainDataSource" />
	</bean>
	<!-- 数据源事务管理 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="mainDataSource" />
	</bean>
	
	<context:component-scan base-package="com/doyd" />
</beans>